body{
    background: url("/images/backgrounds/blueandgreen.jpg") center center fixed;
}
.card-title{
    text-transform: uppercase;
}
.btn-primary{
    border: 3px solid #111;
    background: none;
    color: #111;
    font-variant-caps: small-caps;
}
.btn-primary:hover{
    border: 3px solid white;
    background-color: #111;
    color: white;
}